* {
  box-sizing: border-box;
}

html,
body,
.container {
  min-height: 100%;
}

body {
  margin: 0;
  color: white;
  display: grid;
  justify-items: center;
  background-color: black;
  background-image: url("background.svg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: grid;
  padding: 20px;
  gap: 20px;
  --columns: 3;
  grid-template-columns: repeat(var(--columns, 3), 1fr);
  grid-auto-rows: max-content;
  max-width: 1500px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

h1,
h2,
p,
li {
  text-align: center;
  font-family: "Merienda", cursive;
}

.card {
  padding: 20px;
}

.info-card {
  display: grid;
  position: relative;
  justify-items: center;
  align-content: center;
  padding-bottom: 131px;
}

.info-card p {
  font-size: 1.5rem;
}

.info-card .veloren-logo {
  min-width: 0;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.map-card {
  min-height: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1.5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: grid;
  grid-template-rows: max-content min-content 5ch auto;
  backdrop-filter: blur(5px);
}

.map-card > a {
  grid-row: 1 / 3;
  display: contents;
}

.map-card img {
  grid-row: 1 / 3;
  grid-column: 1;
  min-height: 0;
  height: 100%;
	aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.map-card h2 {
  grid-row: 2 / 4;
  grid-column: 1;
  justify-self: center;
  align-self: end;
  font-size: 3em;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
}

.map-card p,
.map-card li {
  font-size: 1.2rem;
  text-align: justify;
}

.map-card > div {
  grid-row: 4;
  min-height: 0;
  height: 100%;
  overflow: auto;
}

.map-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-items: center;
}

.map-overlay.visible {
  display: grid;
}

.map-overlay img {
  min-width: 0;
  min-height: 0;
  height: 100%;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.attributions {
  margin: 20px;
}

@media screen and (max-width: 1400px) {
  .container {
    --columns: 2;
  }
}

@media screen and (max-width: 800px) {
  .container {
    --columns: 1;
  }
}
